/*
	Name: Auto Ellipsis Text with jQuery
	Date: August 2011
	Description: Auto Ellipsis Text with jQuery, based on Brandon Cannaday's Auto Ellipse script at: http://www.switchonthecode.com/tutorials/javascript-tutorial-how-to-auto-ellipse-text
	Version: 1.0
	Author: Ross Morsali
	Author URI: http://www.weareelevate.com
	Project URI: https://github.com/rmorse/AutoEllipsis
*/
body
{
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	
	text-align: left;
}


.examples
{
	width:800px;
	background-color:#f6f6f6;
	padding:20px;
	margin-bottom:20px;
	border:1px solid #dedede;

}
.examples div, .examples h1
{ /* most examples have 200px width except first example */ 
	width:200px;
	background-color:#91ccef;
}
#ex0
{
	width:auto;
}
#ex6
{
	width:300px;
	height:100px;
}


/* used for headings above examples */
.examples h3
{
	padding-top:30px;
	border-bottom:1px solid #ddd;
	font-weight:normal;
}
.examples h3:first-child
{
	padding-top:0;
	
}
hr
{
	color:#ffffff;
	border-color:ffffff;
	background-color:ffffff;
}